@import "footer.css";
@import "header.css";
* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.body-container {
  width: 100%;
  position: relative;
}
.about {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 120px;
}
.about-header {
  font-size: 36px;
  padding-bottom: 30px;
}
.about-txt {
  font-size: 24px;
  padding-bottom: 30px;
}
.about-img {
  height: 500px;
  padding-bottom: 30px;
}
.txt-img {
  display: flex;
  width: 100%;
  padding-bottom: 30px;
}
.about-img1 {
  height: 500px;
  padding-bottom: 30px;
  margin-left: 12.5%;
  margin-top: 20px;
}
.txt-box {
  width: 700px;
  margin-left: -20px;
  margin-right: 12.5%;
  height: 540px;
  background-color: #eeeeee;
  position: relative;
  z-index: -1;
  text-align: center;
  border-radius: 12px;
  box-shadow: 3px 3px 6px #909090;
}
.about-txt1 {
  margin-top: 17.5%;
  font-size: 22px;
}
.about-img2 {
  height: 500px;
  padding-bottom: 30px;
  margin-left: 19%;
  margin-top: 20px;
}
.txt-box1 {
  width: 700px;
  margin-left: 12.5%;
  margin-right: -20%;
  height: 540px;
  background-color: #eeeeee;
  position: relative;
  z-index: -1;
  text-align: center;
  border-radius: 12px;
  box-shadow: 3px 3px 6px #909090;
}
