@import "footer.css";
@import "header.css";
* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  box-sizing: border-box;
  padding: 15px;
  padding-left: 8%;
  padding-right: 8%;
}
.header2 {
  width: 100%;
  height: 30px;
  position: fixed;
  margin-top: -45px;
  z-index: 100;
  display: flex;
  box-sizing: border-box;
  padding: 15px;
  padding-left: 8%;
  padding-right: 8%;
}
.h-shade {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  z-index: -1;
}

.logo {
  height: 45px;
  margin-right: 20px;
  cursor: pointer;
}
.title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 28px;
  margin-top: 5px;
  cursor: pointer;
}
.menu-container {
  display: flex;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  position: absolute;
  right: 8%;
  top: 20px;
}
.menu-container2 {
  width: 100%;
  margin-top: -24px;
  display: flex;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  position: absolute;
}

.menu-btn {
  margin-right: 30px;
  cursor: pointer;
  margin-top: 5px;
  transition: 350ms;
}
.menu-btn1 {
  margin-right: 30px;
  cursor: pointer;
  margin-top: 5px;
  transition: 350ms;
  color: #ffe515;
}
.menu-btn:hover {
  color: #ffe515;
}
.menu-btn2 {
  margin-right: 50px;
  cursor: pointer;
  margin-top: 5px;
}
.menu-btn3 {
  margin-right: 50px;
  cursor: pointer;
  margin-top: 5px;
  color: #ffe515;
}
.menu-btn2:hover {
  color: #ffe515;
}
.login-btn {
  cursor: pointer;
  background: white;
  color: red;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 2px;
  color: #ad0d09;
}

.login-btn:hover {
  opacity: 0.8;
}

.body-container {
  width: 100%;
  position: relative;
}
.courses {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 120px;
}
.body-header {
  font-size: 36px;
  font-family: arial;
  padding-bottom: 30px;
}
.body-txt {
  font-size: 24px;
  font-family: arial;
  padding-bottom: 30px;
}
.departments {
  width: 90%;
  border-radius: 20px;
  
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}
.departments-name {
  font-size: 20px;
  font-family: arial;
  padding-bottom: 30px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;

}

section {
  width: 100%;
  display: flex;
  position: relative;
  font-weight: bold;
  border-radius: 12px 12px 0px 0px;
}
section h1 {
  text-align: center;
  font-size: 24px;
  font-family: arial;
  padding-bottom: 30px;
}
ul {
  width: 30%;
  justify-content: center;
  box-sizing: border-box;
  background-color: #F3F5F7;
  overflow: hidden;
  height: 800px;
  border-radius: 12px;
  box-sizing: border-box;
  padding-top: 80px;
  
}
ul li {
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;
  font-size: 20px;
  font-family: arial;
  padding-top: 20px;
  padding-bottom: 20px;
}
ul li:hover {
  font-weight: bold;
  color: #fff200;
  background-color: #00548e;
}
li.active {
  font-weight: bold;
  color: #fff200;
  background-color: #00548e;
}
.courses-detail {
  width: 98%;
  margin-left: 2%;
  box-sizing: border-box;
  display: block;
  max-height: 800px;
  overflow: scroll;
}
.courses-detail div {
  padding: 20px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: 350ms;
}
.courses-detail div:hover{
  background-color: #ddd;
}
.detail-name {
  font-size: 20px;
  font-family: arial;
}

.body-header {
  width: 100%;
  position: relative;
  max-height: 400px;
  overflow: hidden;
}
.body-header-img {
  width: 100%;
  z-index: 1;
}
.shade-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.5;
}

.header-img-text {
  position: absolute;
  color: white;
  font-size: 55px;
  top: 75%;
  box-sizing: border-box;
  left: 5%;
  font-family: arial;
  font-weight: bold;
}
.subheader-dept{
  position: absolute;
  font-size: 16px;
  font-family: arial;
  color: #F17D00;
  font-weight: bold;
  left: 20px;
  top: 20px;
}