*{
	margin: 0px;
	padding: 0px;
}
a{
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.header{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	display: flex;
	box-sizing: border-box;
	padding: 15px;
	padding-left: 8%;
	padding-right: 8%;

}
.header2{
	width: 100%;
	height: 30px;
	position: fixed;
	margin-top: 75px;
	z-index: 999;
	display: flex;
	box-sizing: border-box;
	padding: 15px;
	padding-left: 8%;
	padding-right: 8%;

}
.h-shade{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.8;
	z-index: -1;
}

.logo{
	height: 45px;
	margin-right: 20px;
	cursor: pointer;
}
.title{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	font-size: 28px;
	margin-top: 5px;
	cursor: pointer;
}
.menu-container{
	display: flex;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	position: absolute;
	right: 8%;
	top: 20px;

}
.menu-container2{
	width: 100%;
	margin-top: -24px;
	display: flex;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24px;
	position: absolute;
}

.menu-btn{
	margin-right: 30px;
	cursor: pointer;
	margin-top: 5px;
	transition: 350ms;
}
.menu-btn1{
	margin-right: 30px;
	cursor: pointer;
	margin-top: 5px;
	transition: 350ms;
	color: #FFE515;
}
.menu-btn:hover{
	color: #FFE515;
}
.menu-btn2{
	margin-right: 50px;
	cursor: pointer;
	margin-top: 5px;
}
.menu-btn3{
	margin-right: 50px;
	cursor: pointer;
	margin-top: 5px;
	color: #FFE515;
}
.menu-btn2:hover{
	color: #FFE515;
}
.login-btn{
	cursor: pointer;
	background: white;
	color: red;
	padding: 5px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 8px; 
	font-weight: bold;
	font-size: 16px;
	margin-top: 2px;
	color: #AD0D09;
}

.login-btn:hover{
	opacity: 0.8;
}


.body-header{
	width: 100%;
	position: relative;
	height: 600px;
}
.body-header-img{
	width: 100%;
	height: 600px;
	z-index: 1;
}
.shade-layer{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black;
	opacity: 0.5;
}

.header-img-text{
	position: absolute;
	color: white;
	font-size: 55px;
	text-align: center;
	width: 100%;
	top: 75%;
	right: 30%;
	font-family: arial;
	font-weight: bold;
}
.body-header-img1{
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-top: 300px;
	right: 46%;

}
.body-container{
	width: 100%;
	position: relative;
}


.body-content{
	width: 100%;
	position: relative;
	display: flex;
}
.body-menu{
	width: 20%;
	height: 1400px;
	position: absolute;
	background-color: #EEEEEE;
	text-align: center;
}
.body-btn{
	position: relative;
	margin-right: -30%;
}
.body-menu-btn{
	position: relative;
	margin-top: 60px;
	align-self: center;
	font-size: 24px;
	font-family: arial;
	width: 150px;
	height: 30px;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.body-menu-btn:hover{
	font-weight: bold;
}


.menu-conent{
	position: absolute;
	width: 70%;
	margin-left: 23%;
	margin-top: 60px;
}
.first{
	position: absolute;
	display: block;
	background-color: white;
}

.second{
	position: absolute;
	display: none;
	background-color: white;
}

.third{
	position: absolute;
	display: none;
	background-color: white;
}

.body-ttl{
	font-size: 24px;
	font-family: arial;
	padding-bottom: 30px;
}
.body-ttl1{
	font-size: 24px;
	font-family: arial;
	margin-bottom: 10px;
	margin-top: 20px;
}
.body-ttl2{
	font-size: 20px;
	font-family: arial;
	margin-bottom: 10px;
	margin-top: 20px;
}
.bdy-txt{
	display: flex;
	margin-top: 30px;
}
.circle{
	width: 150px;
	height: 150px;
	margin-left: 120px;
	border-radius: 50%;
	background-color: #7FA9C6;
	text-align: center;
	
}

.center{
	margin-top: 25%;
}
.circle-txt{
	color: #00548E;
	font-size: 24px;
	font-family: arial;
}
.circle-txt1{
	color: #00548E;
	font-size: 36px;
	font-family: arial;
}
.txt{
	margin-left: 20px;
	margin-top: 10px;
	font-size: 20px;
	font-family: arial;
	font-weight: bold;
}
.txt1{
	margin-left: 20px;
	margin-top: 20px;
	font-size: 20px;
	font-family: arial;
}
.txt2{
	margin-left: 20px;
	margin-top: 20px;
	font-size: 20px;
	font-family: arial;
	color: #00548E;
}
.txt4{
	margin-top: 20px;
	font-size: 20px;
	font-family: arial;
}
.footer{
	margin-top: 1400px;
	height: 320px;
	background-color: #001926;
	box-sizing: border-box;
	padding-top: 50px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	display: flex;
	width: 100%;
}
.f-left{
	width: 40%;
	box-sizing: border-box;
	padding-left: 8%;
}
.f-title{
	display: flex;
	margin-bottom: 30px;
}
.f-logo{
	height: 65px;
}
.f-title-text{
	font-size: 30px;
	margin-left: 20px;
	
	font-weight: bold;
	margin-top: 10px;
}
.address{
	margin-bottom: 10px;
}
.telephone{
	margin-bottom: 10px;
}
.email{
	margin-bottom: 10px;
}
.f-right{
	display: flex;
	margin-top: 10px;
	text-align: center;
	width: 60%;
	box-sizing: border-box;
	padding-right: 8%;
	padding-left: 5%;
	justify-content: end;
}
.col{
	width: 25%;
	justify-content: center;
}
.col-title{
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 18px;
}
.col-text:hover{
	opacity: 0.8;
}
.col-text{
	font-size: 14px;
	margin-bottom: 7px;
	cursor: pointer;
}
.col-text:hover{
	opacity: 0.8;
}
.col-logo{
	height: 40px;
	margin-bottom: 7px;
	cursor: pointer;
}
.col-link:hover{
	opacity: 0.8;
}
