@import "footer.css";
@import "header.css";
* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  box-sizing: border-box;
  padding: 15px;
  padding-left: 8%;
  padding-right: 8%;
}
.h-shade {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  z-index: -1;
}
.logo {
  height: 45px;
  margin-right: 20px;
  cursor: pointer;
}
.title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 28px;
  margin-top: 5px;
  cursor: pointer;
}
.menu-container {
  display: flex;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  position: absolute;
  right: 8%;
  top: 20px;
}
.menu-btn {
  margin-right: 30px;
  cursor: pointer;
  margin-top: 5px;
  transition: 350ms;
}
.menu-btn:hover {
  color: #ffe515;
}
.login-btn {
  cursor: pointer;
  background: white;
  color: red;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 2px;
  color: #ad0d09;
}
.login-btn:hover {
  opacity: 0.8;
}

.body-container {
  width: 100%;
  position: relative;
}
.wlcm-container {
  position: relative;
  width: 100%;
}
.wlcm-background {
  width: 100%;
}
.wlcm-shade {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  background: linear-gradient(to left, transparent 0%, black 90%);
  opacity: 0.7;
}
.wlcm-info {
  position: absolute;
  top: 330px;
  left: 13%;
  color: white;
  z-index: 3;
  width: 550px;
}
.wlcm-header {
  font-size: 58px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: arial;
}
.wlcm-slogan {
  font-size: 20px;
}
.apply-btn {
  cursor: pointer;
  background: #ad0d09;
  display: inline-block;
  color: red;
  padding: 14px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 2px;
  color: white;
  font-family: arial;
  margin-top: 20px;
  opacity: 0.8;
}
.apply-btn:hover {
  opacity: 0.6;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
  padding-left: 13%;
  padding-right: 13%;
  margin-bottom: 200px;
}
.main-header {
  color: #00497e;
  font-size: 36px;
  font-family: arial;
  padding-bottom: 10px;
  margin-top: 150px;
}
.profile-container {
  width: 100%;
  position: relative;
  margin-top: 50px;
  display: flex;
}
.profile-left {
  width: 35%;
  margin-right: 5%;
  background-color: #f4f4f4;
  box-shadow: 3px 3px 6px #909090;
  box-sizing: border-box;
}
.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  text-align: center;
}
.img-wrapper {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}
.this-page {
  color: #ffe515 !important;
}
.profile-name {
  margin-top: 15px;
  font-weight: 900;
  font-size: 20px;
  font-family: arial;
  text-align: center;
}
.profile-description {
  text-align: center;
  font-size: 17px;
  font-style: italic;
  margin-top: 40px;
  font-weight: bold;
  color: #303030;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.profile-text {
  font-weight: 900;
  text-align: center;
  padding-left: 18%;
  padding-right: 18%;
  margin-top: 40px;
  font-size: 17px;
  line-height: 32px;
  margin-bottom: 25%;
}

.profile-right {
  width: 65%;
  background-color: #f4f4f4;
  box-shadow: 3px 3px 6px #909090;
  box-sizing: border-box;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
}
.sub-header {
  color: #00497e;
  font-size: 30px;
  font-family: arial;
  padding-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}
.art-box {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
}
.art-wrapper {
  width: 50%;
  margin-right: 5%;
  max-height: 365px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.art-img {
  width: 100%;
}
.art-wrapper:nth-child(2) {
  margin-right: 0;
}
.art-shade {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: white;
  box-sizing: border-box;
  transition: 650ms;
}
.art-wrapper:hover .art-shade {
  opacity: 0.5;
}
.shade-text {
  position: absolute;
  font-size: 20px;
  text-transform: uppercase;
  font-family: arial;
  text-align: center;
  top: 45%;
  transform: translate(0, -45%);
  left: 50%;
  transform: translate(-50%, 0);
  justify-content: center;
  color: white;
  width: 100%;
  font-weight: bold;
  opacity: 0;
  transition: 650ms;
}
.art-wrapper:hover .shade-text {
  opacity: 1;
}
.shade-date {
  font-size: 14px;
  text-transform: none;
  font-weight: normal;
}

.upload-container {
  display: flex;
  margin-top: 50px;
  cursor: pointer;
  transition: 350ms;
}
.upload-img {
  width: 53px;
}
.upload-text {
  font-size: 22px;
  margin-left: 20px;
  font-family: arial;
  margin-top: 13px;
}
.upload-container:hover {
  opacity: 0.6;
}
