@import "footer.css";
@import "header.css";
* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.body-container {
  width: 100%;
  position: relative;
}
.wlcm-container {
  position: relative;
  width: 100%;
  max-height: 830px;
  overflow: hidden;
}
.wlcm-background {
  width: 100%;
  height:100%;
  margin-top:-100px;
}
.wlcm-shade {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  background: linear-gradient(to left, transparent 0%, black 90%);
  opacity: 0.7;
}
.wlcm-info {
  position: absolute;
  top: 300px;
  left: 13%;
  color: white;
  z-index: 3;
  width: 550px;
}
.wlcm-header {
  font-size: 58px;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: arial;
}
.wlcm-slogan {
  font-size: 20px;
  font-weight:100;
  line-height:28px;
}
.apply-btn {
  cursor: pointer;
  background: #ad0d09;
  display: inline-block;
  padding: 14px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 2px;
  color: white;
  font-family: arial;
  margin-top: 20px;
  /* opacity: 0.8; */
}
.apply-btn:hover {
  background: white;
  color: #ad0d09;
}
.slider-wrap{
	height: 100%;
}
.news-container {
  margin-top: 50px;
  display: flex;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-left: 13%;
  padding-right: 13%;
  max-height: 524px;
  overflow: hidden;
}
.news-block {
  width: 30%;
  position: relative;
  margin-right: 10%;
}
.page-headers {
  color: #00497e;
  font-size: 36px;
  font-family: arial;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.underline {
  border-bottom: 3px solid #00497e;
}
.news-box {
  display: flex;
  width: 100%;
  margin-bottom: 35px;
}
.date {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  padding: 12px;
  padding-top: 6px;
  padding-bottom: 5px;
  background-color: #00497e;
  color: white;
  text-align: center;
  font-family: arial;
  border-radius: 8px;
  display: inline-block;
}
.date-text {
  line-height: 22px;
}
.date-num {
  font-size: 30px;
  font-weight: bold;
}
.news-text {
  font-size: 18px;
  margin-left: 20px;
}
.news-text:hover {
  color:#2574ac;
}
.view-more {
  width: 100%;
  text-align: right;
  padding-top: 10px;
  border-top: 3px solid #00497e;
  color: #ed2d23;
  font-style: italic;
  font-weight: bold;
  font-family: arial;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}
.view-btn:hover {
  opacity: 0.6;
}

.events-block {
  width: 60%;
  position: relative;
}
.event-box {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 33px;
}
.event-img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-right: 35px;
}
.event-title {
  color: #00497e;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
}
.event-title:hover {
  color:#2574ac;
}
.event-text {
  font-size: 14px;
}

.box-wrap {
  height: 524px;
  overflow: hidden;
}

.art-container {
  margin-top: 100px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-left: 13%;
  padding-right: 13%;
  max-height: 524px;
  overflow: hidden;
  margin-bottom: 100px;
}
.news-header {
  color: #00497e;
  font-size: 36px;
  font-family: arial;
  padding-bottom: 10px;
}
.art-subheader {
  font-size: 22px;
  color: #00497e;
  margin-bottom: 40px;
  font-family: arial;
}
.art-gallery {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}
.art-box {
  width: 28%;
  margin-right: 8%;
  text-align: center;
}
.art-box:nth-child(3) {
  margin-right: 0px;
}
.art-wrapper {
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
}
.art-img {
  width: 100%;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.art-img:hover {
  opacity:0.8;
}
.art-title {
  font-size: 19px;
  font-weight: bold;
  font-family: arial;
  margin-top: 25px;
  text-transform: uppercase;
}
.art-title:hover {
  color: #00497e;
}
.art-author {
  margin-top: 5px;
  font-family: arial;
  font-size: 14px;
}
.art-author:hover {
  color: #00497e;
}
.more-art-btn {
  width: 100%;
  text-align: right;
  padding-top: 10px;
  color: #ed2d23;
  font-style: italic;
  font-weight: bold;
  font-family: arial;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  bottom: 0;
  display: inline-block;
}
.view-btn:hover {
  color: #00497e;
}

.banner {
  width: 100%;
  max-height: 550px;
  overflow: hidden;
  position: relative;
}
.banner-img {
  width: 100%;
}
.banner-box-1 {
  position: absolute;
  z-index: 99;
  right: 13%;
  top: 80px;
  width: 330px;
  height: 300px;
  box-sizing: border-box;
  padding: 30px;
  padding-top: 60px;
}
.b-color {
  background: #ffe45c;
  opacity: 0.8;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
}
.banner-header {
  font-family: arial;
  font-weight: 800;
  color: #00497e;
  margin-bottom: 20px;
}
.banner-text {
  color: #00497e;
  justify-content: space-between;
  font-size: 15px;
}
.banner-btn {
  margin-top: 25px;
  background-color: #00497e;
  color: white;
  font-family: arial;
  padding: 12px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 10px;
  position: absolute;
  right: 30px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.banner-btn:hover {
  background-color: #fff1ae;;
  color: #00497e;
}
.banner-box-2 {
  position: absolute;
  z-index: 99;
  left: 13%;
  top: 80px;
  width: 330px;
  height: 300px;
  box-sizing: border-box;
  padding: 30px;
  padding-top: 60px;
}

/* ----------CHAT BOX------------- */
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: rgba(255, 255, 255, 0.53);
  color: white;
  padding: 0px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 30px;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  z-index: 300;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: none;
  z-index: 309;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: rgb(244, 244, 244);
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  border: none;
  background: rgb(255, 255, 255);
  resize: none;
  min-height: 200px;
  z-index: 300;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
  z-index: 300;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #549bff;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  z-index: 300;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
  z-index: 300;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
  z-index: 300;
}
/* ------------------------------- */
